.main{
    padding: 30px;
    padding-top: 80px;
}

.container{
    margin: 0 auto;
}

.card{
    font-size: 100%; 
    text-align: justify;
    margin: 15px;
    background:white;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    text-align: center;
    padding-bottom: 20px;
}

.div-card-img-top {
    height: 30%;
}

.card-description{
    margin-top: 15px;
    text-align: justify;
    min-height: 150px;
    max-height: 200px;
}

.card-title.badge, .card-skills span{
    background: whitesmoke;
    color: #000033;
    border: 1px solid #000033;
}

.card-body span i{
    width: 10%;
}

.card-title{
    text-align: left;
    font-size: 100%;
}

.card-skills span{
    margin: 5px;
    font-size: 100%;
}

@media(max-width: 1200px){

}

@media(max-width: 1000px){
    
}


@media(max-width: 800px){
}


@media(max-width: 500px){
    
}