<div class="main">
    <h1 class="title"><span>{{title}}</span></h1>
      <div class="row">
        <div *ngFor="let education of educations" 
            class="card col-sm">
          <table class="div-card-img-top mx-auto" [style.max-width.px]=imageWidth>
            <tr>
              <td>
                <img class="card-img-top" [src]="education.imageURL"
                alt="Card image cap" >
              </td>
            </tr> 
          </table>
          <div class="card-body">
            <h6 class="card-title badge">
              <i class="fas fa-user-circle"></i>
              {{education.title}}
            </h6><br>
            <span><i class="fas fa-play-circle"></i>{{education.dateFrom | date :  "dd MMMM y"}}</span><br>
            <span *ngIf="education.dateTo"><i class="fas fa-flag-checkered"></i>{{education.dateTo | date :  "dd MMMM y"}}</span>
            <div class="card-description">
              <p  [innerHTML]="education.description"></p>
            </div>
            <!-- <div class="card-skills">
              <span *ngFor="let skill of education.skillsInvolved" class="badge" [innerHTML]="skill">
              </span>
            </div> -->
          </div>
        </div>
      </div>
  </div>
  