.main{
    padding: 30px;
    padding-top: 80px;
}

.container{
    margin: 0 auto;
}


.col-4{
    padding: 15px;
    margin: 15px auto;
    font-size: 70%; 
    text-align: justify;
    border: 1px solid #000033;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
    text-align: center;
    height: 100%;
    min-width: 90%;
    max-width: 90%;
}

.div-card-img-top {
    height: 100px;
}

.card-title{
    text-align: center;
    font-size: 100%;
    width: 100%;
    padding: 5px;
}

.card-description{
    margin-top: 15px;
    text-align: justify;
    height: auto;
    font-weight: bold;
}


.card-skills{
    height: 90px;
}

.exp-dates{
    height: 45px;
}

@media (min-width: 576px){
    
    .col-4{
        padding: 5px;
        margin: 5px auto;
        font-size: 90%; 
        text-align: justify;
        border: 1px solid #000033;
        box-shadow:0 2px 10px rgba(0,0,0,.3);
        text-align: center;
        height: 100%;
        min-width: 80%;
        max-width: 80%;
    }

    .div-card-img-top {
        height: 150px;
    }
    
    .card-title{
        text-align: center;
        font-size: 100%;
        width: 100%;
        padding: 10px;
    }
    .card-skills{
        height: 100px;
    }
    

}

@media (min-width: 768px){
    
    .col-4{
        padding: 15px;
        margin: 15px auto;
        font-size: 100%; 
        text-align: justify;
        border: 1px solid #000033;
        box-shadow:0 10px 20px rgba(0,0,0,.3);
        text-align: center;
        height: 100%;
        min-width: 80%;
        max-width: 80%;
    }
}

@media (min-width: 1200px){
    
    .col-4{
        padding: 10px;
        margin: 15px auto;
        font-size: 100%; 
        text-align: justify;
        border: 1px solid #000033;
        box-shadow:0 10px 20px rgba(0,0,0,.3);
        text-align: center;
        height: 100%;
        min-width: 30%;
        max-width: 30%;
    }
    .card-description{
        margin-top: 15px;
        text-align: justify;
        height: 450px;
        font-weight: bold;
    }
}



.card-body span i{
    width: 50px;
}


.card-title.badge, .card-skills span{
    background: whitesmoke;
    color: #000033;
    border: 1px solid #000033;
}


.card-skills span{
    margin: 5px;
    font-size: 100%;
}

.card-description ul{
    list-style: none;
    margin-left: -30px;
    font-weight: lighter;
}

.card-description ul li i{
    margin-right: 7px;
    margin-bottom: 10px;
}