<div class="main">
  <div class="container">
  <h1 class="title"><span>{{title}}</span></h1>
  <img class="img-rounded-circle" src="assets/images/me-2.jpg" alt="Avatar">
  <div class="about-presentation">
    <p>
        <i class="fas fa-quote-left"></i>
    </p>
    <p *ngIf="lang === 'fr'">
      Originaire de France et aimant l'aventure, nous nous sommes lancés, fin 2018, dans l'expatriation Canadienne avec ma conjointe.
      <br/><br/>  
      Aujourd'hui, nous vivons à Montréal au Canada et je suis ingénieur logiciel chez Cision dans l'équipe en charge du développement du produit 
      Eureka et Europresse.
      <br/><br/>  
      Passionné par la création de logiciel, application web ou tout autres outils informatique, j'aime réaliser des projets innovants autant sur l'aspect expérience utilisateur que sur l'aspect technologique. Je fais régulièrement de la veille technologique afin de découvrir les nouveaux outils, framework et langages pour les développeurs. Pour ces derniers j'ai une grande préférence pour l'environnement Microsoft .Net (.Net Framwork, .Net Core).
      <br/><br/>  
      J'aime également me divertir dans des activités diverses et variées telles que le sport, oui je suis un amateur de sport comme le football, le motocross, le rugby, le squash, le tennis, la course à pied ou encore le ski, aller manger dans un bon restaurant ou boire un verre avec des amis.  
    </p>
    <p *ngIf="lang === 'en'">
      Natives of France and adventure lovers, we've started, end of 2018, in Candian expatriation with my spouse.
      <br/><br/>
      Now, we are living in Montreal in Canada and I'm software engineer at Cision within the team in charge of Eureka and Europresse product development.
      <br/><br/>  
      Software, web or mobile application creation lover (and all we can produce with code), I love innovative projects, user experience or technology innovation. I regurlarly do technologies watch in order to keep an eye on new tools, frameworks or development languages. In term of develpment languages, I have a great preference for Microsoft .Net environment (.Net Framwork, .Net Core).
      <br/><br/>
      Beyond my tech activities, I love sharing multiple activities with friends like sports (soccer, motocross, rugby, squash, tennis, running, ski...), go to a good restaurant or even drink a good beer in pubs and simply have fun ! 
    </p>
    <p><i class="fas fa-quote-right"></i></p>
  </div>
</div>
</div>