h1.title{
    color: #fae596;
	border-bottom: 2px solid #fae596;
}

.img-rounded-circle{
    display: block;
    margin: 10px auto;
    width: 300px;
    border: 10px solid #3fb0ac;
    border-radius: 50%;
}

.main{
    background: #3fb0ac;
}

.card{
    color: #29706e;
    padding: 50px 100px;
    min-height:400px;
    background:#8fd6d4;
    box-shadow:0 30px 50px rgba(0,0,0,.3);
    border-radius: 7px;
    text-align: justify;
}

.card p{
    font-size: 120%; 
}

.fa-quote-left{
    font-size: 300%;
    margin-right: 70px;
}

.fa-quote-right{
    float: right;
    font-size: 300%;
}
