<div class="main">
  <div class="container">
  <h1 class="title">{{title}}</h1>
  <div class="card">
    <img class="img-rounded-circle" src="assets/images/me-2.jpg" alt="Avatar">
    <p>
        <i class="fas fa-quote-left"></i>
    </p>
    <p>
        I am passionate about developing efficient .Net applications since 2013.
I learned C#.Net WPF using MVC pattern during my scolarship.
Now I develop Windows Mobile 6.5 and UWP applications for my job.

Self learning :
- Build mobile app using Xamarin Forms
- Build Web application using ASP.Net Core
- Use Azure services

I am interested in Big Data technologies like Hadoop (HortonWorks, Spark Hive or HBase...) with Artificial Intelligence. I'm an active teammate in the Big Data community in Sopra Steria Group where we are building a complete environment (infrastructure, solution, data science and so on...) for a Big Data project.

As an open-minded person, I love working in a multicultural environment (I am staying tuned to job offers in Australia, New Zealand or Canada).
I am thirsty of knowledge, either hard or soft skills (I love experimenting AGILE or visual management).

Otherwise, I love practicing sports like soccer, running, hiking or motocross as I am a very active person.
    </p>
    <p><i class="fas fa-quote-right"></i></p>
  </div>
</div>
</div>