.main{
    background-color: white;
}

.img-rounded-circle{
    display: block;
    margin: 10px auto;
    width: 20%;
    border: 5px solid #000033;
    border-radius: 50%;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

.about-presentation {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.fa-quote-left{
    font-size: 300%;
    margin-right: 70px;
}

.fa-quote-right{
    float: right;
    font-size: 300%;
}
