.main{
    background-color: white;
    text-align: center;
}

.contact-list{
    list-style-type: none;
    margin: 0 auto;
}

ul{
    padding: 0 !important;
}

.contact-list li{
    margin: 25px;
    font-size: 25px;
    vertical-align: middle;
}

.contact-list li img{
    width: 50px;
    margin-top: -5px;
    margin-left: 20px;
}

.contact-list li i{
    /* font-size: 30px; */
    min-width: 50px;
    margin-right: 5px;
}

.contact-social-network a{
    font-size: 45px;
    margin: 20px;
}

* a{
    color: #000033;
}


* a:hover{
    color: #0000b3;
    text-decoration: none;
}

@media(max-width: 1200px){

}

@media(max-width: 1000px){
    
}


@media(max-width: 800px){
}


@media(max-width: 500px){
    
    .contact-list li{
        margin: 10px 0;
        font-size: 20px;
    }
}