.main{
    background-color: #143837;
    color:#fae596;
    text-align: center;
}

h1.title{
    color: #fae596;
	border-bottom: 1px solid #fae596;
}


.contact-list{
    list-style-type: none;
    margin: 0 auto;
}

.contact-list li{
    margin: 25px;
    font-size: 25px;
    vertical-align: middle;
}

.contact-list li img{
    width: 50px;
    margin-top: -5px;
    margin-left: 20px;
}

.contact-list li i{
    /* font-size: 30px; */
    min-width: 50px;
    margin-right: 5px;
}

.contact-social-network a{
    font-size: 45px;
    margin: 20px;
}

* a{
    color: #fae596;
}


* a:hover{
    color: #f4c10b;
    text-decoration: none;
}

