<div>
<h1 class="title">{{title}}</h1>
<ul class="contact-list">
  <li><i class="fas fa-map-marked-alt"></i>Montréal - QC, Canada<img src="assets/images/Canada-flag.png"/></li>
  <li><i class="fas fa-mobile-alt"></i>438-494-5549</li>
  <li><i class="fas fa-envelope"></i><a href="mailto:matthieu.lepaix@gmail.com?Subject=Contact" target="_top">matthieu.lepaix@gmail.com</a></li>
</ul>
<p class="contact-social-network">
  <a href="https://linkedin.com/in/matthieulepaix"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/matthieuLepaix"><i class="fab fa-github"></i></a>
</p>
</div>