.nav img {
    margin: 0 3px 0 3px;
}

.navbar{
    background: transparent;
    font-size: 18px;
    /* background-color: #143837; */
    color:#f7f7f7;
}

.navbar h1 a, .navbar h1 a{
    color: #f7f7f7;
    text-decoration: none;
}

.navbar .nav li a{
    color: #f7f7f7;
}
.navbar .nav li.active{
    border-bottom: 4px solid rgba(247,247,247, 0.9);
}
.nav-link-lang {
    padding: 0;
}
.nav-link-content{
    margin-left: 5px;
}
.navbar .nav li a:hover, .navbar h1 a:hover{
    color: #f7f7f7; 
}

.navbar.scrolled {
    background-color: #000033 !important;
    transition: background-color 200ms linear;
}

ul img {
    width: 40px;
    height: 40px; 
}

h1{
    text-indent: -60px;
    overflow: hidden;
}

@media(max-width: 1200px){
    ul {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
        text-indent: -45px;
    }
}

@media(max-width: 1000px){

    h1 {
        font-size: 20px;
        text-indent: -30px;
    }

    ul {
        display: table-row;
        font-size: 15px;
    }

    ul li{
        display: table-cell;
        vertical-align: middle;
    }

    ul img {
        width: 25px;
        height: 25px; 
    }
}


@media(max-width: 800px){
    h1 {
        font-size: 25px;
        text-indent: -35px;
    }

    ul{
        font-size: 20px;
    }
    
    .nav-link-content{
        display: none;
    }
    ul img {
        width: 30px;
        height: 30px; 
    }

}


@media(max-width: 600px){
    h1 {
        display: inline-block;
        width: 50px;
        height: 30px;
        font-size: 30px;
        text-indent: 0px;
    }
}

@media(max-width: 530px){
    ul{
        margin: 0 auto;
    }
}


@media(max-width: 400px){
    h1{
        display: none;
    }
}