<header class="navbar navbar-expand-lg fixed-top scrolling-navbar ">
  <div class="container container-nav">
    <h1>
      <a href="#home-area">
      {{ title }}
      </a>
    </h1>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#about-area">
            <i class="fas fa-feather-alt"></i>
            <span class="nav-link-content">About me</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiences-area" >
            <i class="fas fa-laptop-code"></i>
            <span class="nav-link-content">Experiences</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education-area">
            <i class="fas fa-graduation-cap"></i>
            <span class="nav-link-content">Education</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-area">
            <i class="fas fa-at"></i>
            <span class="nav-link-content">Contact</span></a>
        </li>
        
        <li class="nav-item">
          <img src="assets/images/FR-flag-2.png">
        </li>
        <li class="nav-item">
          <img src="assets/images/UK-flag-2.png">
        </li>
    </ul>
  </div>
</header>
  <!-- <div [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div> -->
  <app-home id="home-area"></app-home>
  <app-about id="about-area"></app-about>
  <app-experiences id="experiences-area"></app-experiences>
  <app-education id="education-area"></app-education>
  <app-contact id="contact-area"></app-contact>
<!-- <footer class="footer">
  <div class="container">
    <a href="#">
    </a>
  </div>
</footer> -->
