.nav img {
    margin: 0 3px 0 3px;
}

.navbar{
    font-size: 18px;
    background-color: #143837;
    color:#fae596;
}

.navbar h1 a, .navbar h1 a{
    color: #fae596;
    text-decoration: none;
}

.navbar .nav li a{
    color: #fae596;
}


.navbar .nav li a:hover, .navbar h1 a:hover{
    color: #f4c10b;
}