<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar fixed-top">
  <div>
    <h1>{{ title }} 
      <img width="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/1024px-Linkedin_icon.svg.png"/>
    </h1>
    <h4>[Full stack .Net developer]</h4>
  </div>
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/experiences">Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/education">Education</a>
    </li>
</ul>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
  </div>
</footer>
