<header>
<div class="navbar fixed-top">
  <div>
    <h1>
      {{ title }}
    </h1>
  </div>
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">
        <i class="fas fa-feather-alt"></i>
        About me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/experiences">
        <i class="fas fa-laptop-code"></i>
        Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/education">
        <i class="fas fa-graduation-cap"></i>
        Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">
        <i class="fas fa-at"></i>
        Contact</a>
    </li>
    <img src="assets/images/FR-flag.png" width="42px" height="42px">
    <img src="assets/images/UK-flag.png" width="40px" height="40px">
</ul>
</div>
</header>
<section class="main">
  <div [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</section>
<!-- <footer class="footer">
  <div class="container">
    <a href="#">
    </a>
  </div>
</footer> -->
