.nav img {
    margin: 0 3px 0 3px;
}

.navbar{
    font-size: 18px;
    min-height: 15%;
    background-color: #173e43;
    color:#fae596;
    padding-left: 50px;
}

.navbar .nav li a{
    color: #fae596;
}
